 * {
     --primary-color: #BFA6BD;
     --accent-color: #B5A6BF;
     --secondary-color: #A9A6BF;
     font-family: "Libertinus Serif", serif;
     box-sizing: border-box;
 }

 #cards.grid {
     display: grid;
     grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
     gap: 20px;
     margin: 5px;
     text-align: center;
 }

 #cards section {
     gap: 20px;
     border: 1px solid black;
     word-wrap: break-word;
     border-radius: 10px;
     background-color: var(--secondary-color);

 }

 #cards.grid img {
     margin-top: 10px;
 }

 #cards.list section {
     display: flex;
     margin: 10px;
 }

 #cards.list section img {
     display: none;
 }

 #cards.list section:nth-child(even) {
     background-color: #ddd;
 }

 #cards.list section h2 {
     width: 25%;
     margin-left: 5px;
 }

 #cards.list section p {
     width: 25%;
     margin-right: 5px;
 }

 .hamburger {
     background: none;
     border: none;
     color: black;
     justify-self: end;
     cursor: pointer;
     font-family: Verdana, Geneva, Tahoma, sans-serif;
 }

 .hamburger::before {
     content: "\2630";
     font-size: 2rem;
 }

 .hamburger.show::before {
     content: "\00D7";


 }

 .navigation {
     display: none;
 }



 .navigation.show {
     display: block;
     grid-column: 1/-1;
 }

 .navigation ul {
     list-style-type: none;
     margin: 0;
     padding: 0;

 }

 .navigation a {
     display: block;
     padding: 0.8rem 10px;
     text-decoration: none;
     border: var(--secondary-color) solid 1px;
     margin-left: 2px;
     color: black;
     font-size: large;

 }

 .navigation a:hover {
     background-color: var(--secondary-color);
     border-radius: 5px;
 }

 header {
     display: grid;
     grid-template-columns: 1fr 44px;
     align-items: center;
     background-color: var(--primary-color);
 }

 header div {
     display: flex;

     gap: 5px;
     align-items: center;
 }

 header img {
     margin-top: 5px;
 }

 header span {
     font-size: 1.2rem;
     color: black;
 }


 .button {
     display: flex;
     justify-content: center;
     gap: 20px;
     font-size: 1.2rem;
     margin-bottom: 20px;
     padding: 20px 50px;

 }

 footer {
     background-color: var(--accent-color);
 }

 .social {
     display: flex;
     justify-content: center;
     column-gap: 8px;
 }

 .social a {
     display: flex;
     justify-content: center;
     align-items: center;
     width: 44px;
     height: 44px;
     border: #ccc solid 1px;
     border-radius: 4px;
 }

 .social img {
     width: 22px;
     height: 22px;
 }

 .social a:hover {
     background-color: #ddd;

 }


 .hero {
     position: relative;
 }

 .hero img {
     width: 100%;
     height: auto;
     display: block;
 }

 .hero-text {
     position: absolute;
     top: 50%;
     left: 50%;
     transform: translate(-50%, -50%);
     text-align: center;
     border: 1px solid #A9A6BF;
     border-radius: 10px;
     background-color: var(--accent-color);
 }

 .cta {
     display: inline-block;
     padding: 12px 14px;
     text-decoration: none;
     border-radius: 5px;
 }

 .cta:hover {
     background-color: #ccc;
     border-radius: 20px;
 }

 .current-events {
     display: grid;
     text-align: center;

 }

 article {
     border: #A9A6BF 1px solid;
     border-radius: 20px;
     padding: 1rem;
     margin-bottom: 1rem;
 }

 #cards.default {
     display: grid;
     grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
     gap: 20px;
     text-align: center;
 }



 .weather {
     display: grid;
     text-align: center;
 }

 .weather h2,
 .forecast h3,
 #spotlights h3 {
     background-color: var(--accent-color);
     border-radius: 10px;
     padding: 20px;
 }

 .temp,
 #description,
 #forecast,
 #spotlightCards section {
     border: #A9A6BF 1px solid;
     border-radius: 20px;
     padding: 1rem;
     margin-bottom: 1rem;
 }

 #spotlights {
     display: grid;
     text-align: center;
 }

 @keyframes fadeNP {
     0% {
         background-color: purple;
     }

     100% {
         background-color: #FCE5FC;
     }
 }

 .npModal {
     animation: fadeNP 5s;
     animation-iteration-count: infinite;
 }

 @keyframes fadeG {
     0% {
         background-color: #926C15;
     }

     100% {
         background-color: #FFE169;
     }
 }

 .goldModal {
     animation: fadeG 5s;
     animation-iteration-count: infinite;
 }

 @keyframes fadeB {
     0% {
         background-color: #7E4B0F;
     }

     100% {
         background-color: #F1C896;
     }
 }

 .bronzeModal {
     animation: fadeB 5s;
     animation-iteration-count: infinite;
 }

 @keyframes fadeS {
     0% {
         background-color: #ababab;
     }

     100% {
         background-color: #ececec;
     }
 }

 .silverModal {
     animation: fadeS 5s;
     animation-iteration-count: infinite;
 }

 form {
     display: grid;
     gap: 10px;
     padding: 10px;
     border: 2px solid #BFA6BD;
     border-radius: 10px;
     background-color: #BFA6BD;
     margin-top: 20px;

 }

 input,
 select {
     height: 44px;
     border: 1px solid black;
     background-color: #FCE5FC;
 }

 input:required {
     border-left: 2px solid red;
 }

 textarea {
     background-color: #FCE5FC;
 }

 label {
     margin-bottom: -5px;
 }

 .signUp {
     background-color: #FCE5FC;
     height: 44px;
 }

 .formH {
     background-color: #BFA6BD;
     padding: 10px;
     border-radius: 10px;
     text-align: center;
 }


 #silverButton,
 #npButton,
 #bronzeButton,
 #goldButton {
     display: block;
     margin-bottom: 10px;
     margin-left: auto;
     margin-right: auto;
     gap: 10px;
     height: 44px;
     border: 1px solid black;
     background-color: #FCE5FC;
     border-radius: 10px;
 }

 #silverButton:hover,
 #npButton:hover,
 #bronzeButton:hover,
 #goldButton:hover,
 .signUp:hover {
     background-color: #ababab;
 }

 input:hover,
 select:hover,
 textarea:hover {
     background-color: #ababab;
 }

 